* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 400px) {
  body {
    font-size: 10px;
  }
}

@media screen and (min-width: 800px) {
  body {
    font-size: 14px;
  }
}

html {
  font-size: calc( 10px + (14 - 10) * ((100vw - 400px) / ( 800 - 400)));
}

body {
  font-family: sans-serif;
  background: #ffffff;
}
/*
.page {
  width: 90%;
  max-width: 1000px;
  margin: 3rem auto; 
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  background: #fdfafd;
}


.menu {
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: 3rem auto;
  padding: 1em;
  border: 1px solid #0f0f0f;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  background: #ece7ec;
}

.menu__item {
  position: relative;
  flex-grow: 1;
  text-align: right;
  
  line-height: 3rem;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(17, 17, 17);
 
  opacity: .6;
  border-bottom-width: .2rem;
  border-bottom-style: solid;
  border-bottom-color: transparent; 

  
}

.menu__item:hover {
  opacity: 1;
  border-bottom-color: hsl(60, 2%, 56%);
}*/
/*
.menu__item-active,
.menu__item-active:hover {
  opacity: 1;
  border-bottom-color: hsl(120, 50%, 50%);
}
*/
.sss{
  padding: 5px;
  background: #5191c5;
  border-radius: 5px;
  margin-right: 20px;
}

.btn2{
  /*display: flex;
  flex-direction: row;
  justify-content: space-between;*/
  text-align: right;
  margin-left: 2em;
  background: #5191c5;
  padding: 5px;
  border-radius: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(17, 17, 17);
 
  opacity: .6;
}

.btn{
  margin-right: 30em;
  background: #5191c5;
  padding: 5px;
  border-radius: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(17, 17, 17);
 
  opacity: .6;
}

.btn:hover, .btn2:hover {
  opacity: 1;
  /*-bottom-color: hsl(60, 2%, 56%);*/
}
