*{
  margin: 0;
  padding: 0;
}

.App {
  min-width: 400px;
  max-width: 900px;
  margin: 40px auto;
  margin-left: auto;
  margin-right: auto;
}

.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 10px;
  margin-right: auto;
 
}

.item-list{
  padding: 10px;
}

.clock {
  width: 100px;
  border: solid 1px;
  position: relative;
  border-radius: 10px;
  text-align: center;
  margin-right: 40px;
}

li{
  list-style-type: none;
  border: 0.5px solid rgb(189, 183, 183);
  width: 200px;
  height: 40px;

}

.details-list {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.details {
  margin-left: 40px;
  width: 40%;
}