* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 400px) {
  body {
    font-size: 10px;
  }
}

@media screen and (min-width: 800px) {
  body {
    font-size: 14px;
  }
}

html {
  font-size: calc( 10px + (14 - 10) * ((100vw - 400px) / ( 800 - 400)));
}

body {
  font-family: sans-serif;
  background: #ffffff;
}

a {
  text-decoration: none; 
 } 

.page {
  width: 90%;
  max-width: 1000px;
  margin: 3rem auto;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  background: #fdfafd;
}

.article {
  padding: 5%;
}

.article__title {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  color: rgb(4, 4, 4);
  opacity: 0.8;  
  margin-right: 10px;
}

.article__paragraph {
  margin-bottom: 0.6em;
  line-height: 1.5;
  color: rgb(0, 0, 0);
  opacity: .6;
}

.menu {
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: 3rem auto;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  background: #ece7ec;
}

.menu__item {
  position: relative;
  flex-grow: 1;
  text-align: right;
  
  line-height: 3rem;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(17, 17, 17);
 
  opacity: .6;
  border-bottom-width: .2rem;
  border-bottom-style: solid;
  border-bottom-color: transparent; 
}

.menu__item:hover {
  opacity: 1;
  border-bottom-color: hsl(60, 2%, 56%);
}
/*
.menu__item-active,
.menu__item-active:hover {
  opacity: 1;
  border-bottom-color: hsl(120, 50%, 50%);
}
*/
.sss{
  padding: 5px;
  background: #5191c5;
  border-radius: 5px;
  margin-right: 20px;
}
.sss1{
  padding: 5px;
  background: #5191c5;
  border-radius: 5px;
  margin-right: 20px;
  margin-left: 50px;
}

.sss2{
  align-content: initial;
  background: #5191c5;
  border-radius: 5px;
  margin-left: 50px;
  text-align: right;
  height: 30px;
}
.article__nav{
  width: 30%;
}